/* #loginbutton {
    position: relative;
    left: 0px;
    top: 100px;
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:1.25em;
    border-radius: 30px;
    width: 30%;
    height: 20%;
    box-shadow: 2px 2px 6px 2px rgb(255, 255, 255) inset, -2px -2px 6px 2px rgb(196, 196, 196) inset;
  }
  
  #loginbutton:hover {
    background-color: gray;
    color: white;
  } */

  .loginbutton_default{
    position : absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    left: 15vw;
    font-size:1.25em;
    border-radius: 30px;
    width : 10vw;
    height : 10vh;
    box-shadow: 2px 2px 6px 2px rgb(255, 255, 255) inset, -2px -2px 6px 2px rgb(196, 196, 196) inset;
}

.loginbutton_default_dark_mode{
    position : absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    left: 15vw;
    font-size:1.25em;
    border-radius: 30px;
    width : 10vw;
    height : 10vh;
    box-shadow: 2px 2px 6px 2px #626775 inset, -2px -2px 6px 2px rgb(0, 0, 0) inset;
}

.loginbutton_clicked{
    position : absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    left: 15vw;
    font-size:1.25em;
    border-radius: 30px;
    width : 10vw;
    height : 10vh;
    box-shadow: -2px -2px 6px 2px rgb(255, 255, 255) inset, 2px 2px 6px 2px rgb(196, 196, 196) inset;
}

.loginbutton_clicked_dark_mode{
    position : absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    left: 15vw;
    font-size:1.25em;
    border-radius: 30px;
    width : 10vw;
    height : 10vh;
    box-shadow: -2px -2px 6px 2px #626775 inset, 2px 2px 6px 2px rgb(0, 0, 0) inset;
}
  .innerbox{
      margin-top: 7vh;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
  }
  /* .first-innerbox{
      display: flex;
      text-align: center;
      flex-direction: column;
   
  } */

.button_default{
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:30px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 2px rgb(255, 255, 255) inset, -2px -2px 6px 2px rgb(196, 196, 196) inset;
}

.button_default_dark_mode{
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:30px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 2px #626775 inset, -2px -2px 6px 2px rgb(0, 0, 0) inset;
}

.button_clicked{
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:30px;
    border-radius: 30px;
    box-shadow: -2px -2px 6px 2px rgb(255, 255, 255) inset, 2px 2px 6px 2px rgb(196, 196, 196) inset;
}

.button_clicked_dark_mode{
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:30px;
    border-radius: 30px;
    box-shadow: -2px -2px 6px 2px #626775 inset, 2px 2px 6px 2px rgb(0, 0, 0) inset;
}

.calendar{
    margin-left: 10%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom: 5%;
}

#alert_box {
    margin-right:10%;
    padding-top:5%;
    padding-bottom: 5%;
    margin-top:5%;
    margin-bottom: 5%;
    border-radius: 30px;
}

.alert_box{
    box-shadow: 2px 2px 6px 2px rgb(255, 255, 255) inset, -2px -2px 6px 2px rgb(196, 196, 196) inset;
}

.alert_box_dark_mode{
    box-shadow: 2px 2px 6px 2px #626775 inset, -2px -2px 6px 2px rgb(0, 0, 0) inset;
}

input{display:none;}
label.round{
    display:inline-block;
    width:100px;
    height:34px;
    cursor:pointer;
    position:relative;
    background-color:#ccc;
}

label.round::before{
    content: '';
    display:block;
    width:26px;
    height: 26px;
    left:4px;
    bottom:4px;
    position:absolute;
    background-color:#fff;
    transition:all .4s ease;
}

input:checked + label.round {background-color:#2196F3;}
input:checked + label.round::before{transform:translateX(65px);}

label.round{border-radius : 34px}
label.round::before{border-radius:50%}

#lb-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
   }
   
   audio {
     display: block;
     margin: 20px auto;
   }
   html {
    height: 100%;
  }


