body div {
  display : flex;
  flex-direction: column;
}

caption{
  font-size: 100px;
  margin-bottom: 10px;
  color: blue;

}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
    color: black;
	width: 65vw;
	border-collapse: collapse;
    border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
	padding: 1.2vh;
	background-color: rgba(255,255,255,0.2);
}

thead th {
	background-color:rgba(85, 96, 144, 0.3);
}

tbody td {
		position: relative;
}
tbody td:hover::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.6);
				z-index: -1;
}

tbody tr:hover {
  background-color: rgba(255,255,255,0.6);
}

tbody td {
  position: relative;
}